//颜色定义规范
// $base-color = #f33e54
$base-color = #FFDA44
$font-color = #9B9B9B
$background = #FFFFFF
$deep-color = rgb(255,227,100)
$user-back = rgb(79,76,83)
$little-color = rgb(255,241,175)
$border-color = rgb(227, 211, 141)
$botton-black = rgb(61, 57, 77)
$botton-red = rgb(127, 52, 26)